*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #117050;
}

html,
body{
    font-family: 'Open Sans', sans-serif;
}

header .line{
    background-color: var(--color-primary);
    height: 15px;
}